{{define "anime/index"}}
    <!DOCTYPE html>
    <html>
    {{template "head" .}}
    <body class="container" id="{{ .Page.Id}}">
    {{template "navigation" .}}
    <div id="content">
        <div class="wrap home">
            <div class="row">
                <h1>Anime list</h1>
                <p>
                    Shallow reviews (1 to 10 rating) of every anime I've watched. I may (in-future) expand on some of
                    these ratings.
                </p><p>
                    This was imported from <a href="https://myanimelist.net/">MyAnimeList</a>, see my
                    <a href="https://github.com/th3-z/malgo">Go library</a> if you are interested in how it works.
                </p>
            </div>
            <div class="row">
                <div class="col cell1of1">
                    <table id="anime_list">
                        <thead>
                            <tr>
                                <th>Title</th>
                                <th>Type</th>
                                <th>Score</th>
                                <th>Status</th>
                                <th>Episodes</th>
                            </tr>
                        </thead>
                        <tbody>
                            {{ range $review := .MalUser.Reviews}}
                            <tr>
                                <td>{{ $review.Series.Name }}</td>
                                <td>{{ $review.Series.Type.Name }}</td>
                                <td>{{ $review.Score }}</td>
                                <td>{{ $review.Status.Name }}</td>
                                <td>{{ $review.Series.Episodes }}</td>
                            </tr>
                            {{ end }}
                        </tbody>
                    </table>
                    <p><!-- Padding, I guess --></p>
                    <p>I also have a music catalogue at <a href="https://rateyourmusic.com/~th3_z">RateYourMusic</a>.</p>
                    <p><!-- Padding, I guess --></p>
                </div>
            </div>
        </div>
    </div>
    {{template "footer" .}}
    </body>
    <script type="text/javascript" src="scripts/pages/{{.Page.Id}}.js"></script>
    </html>
{{end}}
