{{define "projects/index"}}
<!DOCTYPE html>
<html>
{{template "head" .}}
<body class="container" id="{{ .Page.Id}}">
    {{template "navigation" .}}
    <div id="content">
        <div class="wrap home">
            <div class="row">
                <h1>Projects</h1>
                <p>
                    Selected works from my <a href="https://github.com/th3-z">Github profile</a>. All my projects are
                    licensed MIT. Enjoy.
                </p>
            </div>
            <div class="row">
                <div class="col cell1of1">
                    <table>
                        <thead>
                        <tr>
                            <th>Name</th>
                            <th>Description</th>
                            <th>Repository</th>
                            <th>Status</th>
                        </tr>
                        </thead>
                        <tbody>
                            {{ range $project := .Projects}}
                            <tr>
                                <td>
                                    {{ if eq $project.ProjectUrl "" }}
                                        {{ $project.Name }}
                                    {{ else }}
                                        <a href="{{ $project.ProjectUrl }}">{{ $project.Name }}</a>
                                    {{end}}
                                </td>
                                <td>{{ $project.Description}}</td>
                                <td><a href="{{ $project.RepoUrl }}">{{ $project.RepoUrl }}</a></td>
                                <td>{{ $project.Status }}</td>
                            </tr>
                            {{ end }}
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
    </div>
    {{template "footer" .}}
</body>
</html>
{{end}}
