{{define "projects/index"}}
<!DOCTYPE html>
<html>
{{template "head" .}}
<body class="container" id="{{ .Page.Id}}">
    {{template "navigation" .}}
    <div id="content">
        <div class="wrap home">
            <div class="row">
                <h1>Projects</h1>
                <p>
                    What I'm working on.
                </p>
            </div>
            <div class="row">
                <p><strong>Software</strong></p>
            </div>
            <div class="row">
                <div class="col cell1of1">
                    <table>
                        <thead>
                        <tr>
                            <th>Service</th>
                            <th>Status / Uptime</th>
                            <th>Website / Address</th>
                            <th>Capacity</th>
                            <th>Public</th>
                        </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>?</td>
                                <td>Online (99%)</td>
                                <td>?</td>
                                <td>?</td>
                                <td>?</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
    </div>
    {{template "footer" .}}
</body>
</html>
{{end}}
