{{define "servers/index"}}
    <!DOCTYPE html>
    <html>
    {{template "head" .}}
    <body class="container" id="{{ .Page.Id}}">
    {{template "navigation" .}}
    <div id="content">
        <div class="wrap home">
            <div class="row">
                <h1>Servers and services</h1>
                <p>
                    This page details most of the public and private servers I operate. The servers listed here are
                    operating on a long-term permanent basis. They are all hosted on my private infrastructure, I don't
                    offer any hosting services.
                </p>
            </div>
            <div class="row" align="center">
                <p>ゆっくりしてね！！！</p>
            </div>
            <div class="row">
                <p><strong>Game servers</strong></p>
            </div>
            <div class="row">
                <div class="col cell1of1">
                    <table>
                        <thead>
                            <tr>
                                <!-- TODO: Service icon -->
                                <th>Service</th>
                                <th>Status / Uptime</th>
                                <th>Website / Address</th>
                                <th>Capacity</th>
                                <th>Public</th>
                            </tr>
                        </thead>
                        <tbody>
                            {{ range $server := .Servers}}
                            <tr>
                                <td>{{ $server.Service }}</td>
                                <td>Online (99%)</td>
                                <td><a href="{{ $server.WebUrl }}">{{ $server.Name }}</a> ({{ $server.Address }})</td>
                                <td>{{ $server.MaxPlayers }}</td>
                                <td>{{ if $server.Locked }}Private{{ else }}Public{{end}}</td>
                            </tr>
                            {{ end }}
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="row">
                <p><strong>Infrastructure</strong></p>
            </div>
            <div class="row">
                <div class="col cell1of1">
                    <table>
                        <thead>
                        <tr>
                            <th>Hostname / IP</th>
                            <th>Status / Uptime</th>
                            <th>OS</th>
                        </tr>
                        </thead>
                        <tbody>
                        {{ range $infrastructure := .Infrastructure}}
                            <tr>
                                <td>{{ $infrastructure.Hostname }} ({{ $infrastructure.Address }})</td>
                                <td>Online (99%)</td>
                                <td>{{ $infrastructure.Os }}</td>
                            </tr>
                        {{ end }}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    {{template "footer" .}}
    </body>
    </html>
{{end}}
