{{define "servers/index"}}
    <!DOCTYPE html>
    <html>
    {{template "head" .}}
    <body class="container" id="{{ .Page.Id}}">
    {{template "navigation" .}}
    <div id="content">
        <div class="wrap home">
            <div class="row">
                <h1>Servers and services</h1>
                <p>
                    This page details most of the public and private servers I operate. The servers listed here are
                    operating on a long-term permanent basis. They are all hosted on my private infrastructure, I don't
                    offer any hosting services.
                </p>
            </div>
            <div class="row" align="center">
                <p>ゆっくりしてね！！！</p>
            </div>
            <div class="row">
                <div class="col cell1of1">
                    <table class="center">
                        <thead>
                            <tr>
                                <!-- TODO: Service icon -->
                                <th>Service</th>
                                <th>Status</th>
                                <th>Name</th>
                                <th>Address</th>
                                <th></th>
                                <th>Capacity</th>
                                
                            </tr>
                        </thead>
                        <tbody>
                            {{ range $server := .Servers}}
                            <tr>
                                <td>
                                    <img class="server-icon" src="{{ $server.Image }}" alt="{{ $server.Service }}"/>
                                </td>
                                <td class="online">Online</td>
                                <td><a href="{{ $server.WebUrl }}">{{ $server.Name }}</a></td>
                                <td>{{ $server.Address }}</td>
                                <td>
                                    {{ if $server.Locked }}
                                        <i class="fa fa-lock" aria-hidden="true"></i>
                                    {{ else }}
                                        <i class="fa fa-unlock" aria-hidden="true"></i>
                                    {{end}}
                                </td>
                                <td>
                                    {{ if $server.MaxPlayers }}
                                        {{ $server.MaxPlayers }}
                                    {{ else }}
                                        ∞
                                    {{ end }}
                                </td>
                            </tr>
                            {{ end }}
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="row">
                <div class="col cell1of1">
                    <table class="center">
                        <thead>
                        <tr>
                            <th>Hostname / IP</th>
                            <th>Status</th>
                            <th>OS</th>
                        </tr>
                        </thead>
                        <tbody>
                        {{ range $infrastructure := .Infrastructure}}
                            <tr>
                                <td>{{ $infrastructure.Hostname }} ({{ $infrastructure.Address }})</td>
                                <td class="online">Online</td>
                                <td>{{ $infrastructure.Os }}</td>
                            </tr>
                        {{ end }}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    {{template "footer" .}}
    </body>
    </html>
{{end}}
