{{define "articles/index"}}
<!DOCTYPE html>
<html>
{{template "head" .}}
<body class="container" id="{{ .Page.Id}}">
    {{template "navigation" .}}
    <div id="content">
        <div class="wrap home">
            <h1>Articles</h1>
            <p>What I've write.</p>
            <div class="row">
                <div class="article">
                    {{ range $article := .Articles }}
                        <img src="{{ $article.IconUrl }}" alt="icon" width="48" height="48" style="float: left;"/>
                        <div>
                            <h2 style="margin: 0;">
                                <a href="articles/{{ $article.Name }}">{{ $article.Title }}</a>
                            </h2>
                            <small>{{ $article.Date.Format "2 Jan 2006" }}</small>
                        </div>
                        <p>{{ $article.Description }}</p>
                        <hr/>
                    {{ end }}
                </div>
            </div>
        </div>
    </div>
    {{template "footer" .}}
</body>
</html>
{{end}}
