{{define "articles/index"}}
<!DOCTYPE html>
<html>
{{template "head" .}}
<body class="container" id="{{ .Page.Id}}">
    {{template "navigation" .}}
    <div id="content">
        <div class="wrap home">
            <div class="row">
                <h1>Articles</h1>
                <p>What I write.</p>
                <ul>
                    <li><a href="articles/post0.html">post0</a></li>
                </ul>
            </div>
        </div>
    </div>
    {{template "footer" .}}
</body>
</html>
{{end}}
