{{define "articles/index"}}
<!DOCTYPE html>
<html>
{{template "head" .}}
<body class="container" id="{{ .Page.Id}}">
    {{template "navigation" .}}
    <div id="content">
        <div class="wrap home">
            <div class="row">
                <h1>Articles</h1>
                <p>What I write.</p>
                <ul>
                    {{ range $article := .Articles }}
                        <li><img src="{{ $article.IconUrl }}" alt="icon" width="64" height="64"/><a href="articles/{{ $article.Name }}">{{ $article.Title }}</a> - {{ $article.Date.Format "2 Jan 2006" }}</li>
                    {{ end }}
                </ul>
            </div>
        </div>
    </div>
    {{template "footer" .}}
</body>
</html>
{{end}}
