{{define "pastes/index"}}
<!DOCTYPE html>
<html>
{{template "head" .}}
<body class="container" id="{{ .Page.Id}}">
    {{template "navigation" .}}
    <div id="content">
        <div class="wrap home">
            <div class="row">
                <h1>Pastes</h1>
                <p>
                    Pastes are deleted after 3 days!
                </p>
            </div>
            <div class="row">
                <p><strong>New paste</strong></p>
                <form action="pastes/new" name="new_paste_form" method="post">
                    <textarea rows="24" id="content" name="content" style="width: 100%; resize: none"></textarea>
                    <input type="submit" value="Create new paste"/>
                </form>
            </div>
            <div class="row">
                <p><strong>Recent pastes</strong></p>
                <ul>
                    {{ range $paste:= .Pastes }}
                        <li>
                            {{ $paste.InsertDate }} -
                            <a href="pastes/files/{{ $paste.Filename }}">
                                {{ $paste.Filename }}
                            </a>
                        </li>
                    {{ end }}
                </ul>
            </div>
        </div>
    </div>
    {{template "footer" .}}
</body>
</html>
{{end}}
