{{define "pastes/index"}}
<!DOCTYPE html>
<html>
{{template "head" .}}
<body class="container" id="{{ .Page.Id}}">
    {{template "navigation" .}}
    <div id="content">
        <div class="wrap home">
            <div class="row">
                <h1>Pastes</h1>
                <p>
                    Pastes are automatically deleted after 3 days, please don't post anything illegal.
                </p>
            </div>
            <div class="row" style="display: flex; flex-direction: row; flex-wrap: wrap; justify-content: center;">
                <div style="flex-grow: 1; margin-right: 1em;">
                    <p><strong>New paste</strong></p>
                    <form action="pastes/new" name="new_paste_form" method="post">
                        <textarea rows="24" id="content" name="content" style="width: 100%; resize: none"></textarea>
                        <input type="submit" style="float: right;" value="Create new paste"/>
                    </form>
                </div>
                <div>
                    <p><strong>Recent pastes</strong></p>
                    <ul>
                        {{ range $paste:= .Pastes }}
                            <li>
                                <a href="pastes/files/{{ $paste.Filename }}">
                                    {{ $paste.InsertDate.Format "2 Jan 2006 15:04:05" }}
                                </a>
                            </li>
                        {{ end }}
                    </ul>
                </div>
            </div>
        </div>
    </div>
    {{template "footer" .}}
</body>
</html>
{{end}}
