{{define "index"}}
<!DOCTYPE html>
<html>
{{template "head" .}}
<body class="container" id="PAGE_TITLE">
    {{template "navigation"}}
    <div id="content">
        <div class="wrap home">
            <div class="row">
                <div class="col cell3of4">
                    <h1><strong>Welcome</strong> – th3-z.xyz</h1>
                    <p>
                        Home to the_z (th3-z), pseudonymous programmer, shitposts and shitware.
                    </p><p>
                        I've built this website to stand as a compendium of my public works and thoughts. Much of the
                        software I've published should be available or linked here. Any services that I run are
                        detailed.
                    </p><p>
                        It is my intention to write articles about any topics I find lacking guidance.
                    </p><p>
                        The views expressed here are my personal views, not those of $employer.
                    </p>
                </div>
                <div class="col cell1of4 news">
                    <h2>Recent updates</h2>
                    <ul class="news-posts">
                        <li>
                            <span class="post-date">2020-01-01</span><a class="post-link">Wow the big update happened</a>
                        </li>
                    </ul>
                </div>
                <hr/>
                <div class="row">
                    <div class="col cell2of2">
                        <p><strong>Full width</strong></p>
                        <p>
                            Atque officiis qui voluptatum dolores. Possimus voluptas qui natus illo ea deserunt. Quasi esse eum est voluptate sed non.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{template "footer"}}
</body>
</html>
{{end}}
