{{define "index"}}
<!DOCTYPE html>
<html>
{{template "head" .}}
<body class="container" id="{{ .Page.Id}}">
    {{template "navigation" .}}
    <div id="content">
        <div class="wrap home">
            <div class="row">
                <div class="col cell3of4">
                    <h1><strong>Welcome</strong> – th3-z.xyz</h1>
                    <p>
                        Home to the_z (th3-z)
                    </p><p>
                        I've built this website to stand as a compendium of my public works. Much of the
                        software projects I've written should be available or here. Any services that I run are
                        detailed.
                    </p><p>
                        I will (in-future) write articles on topics including: software development, OpenBSD, Linux, and free software.
                    </p><p>
                        <em>As above; so below. </em>
                    </p><p>
                        - th3-z
                    </p>
                </div>
                <!--<div class="col cell1of4 news">
                    <h2>Recent updates</h2>
                    <ul class="news-posts">
                        <li>
                            <span class="post-date">2020-01-14</span><a href="/servers" class="post-link">Vanilluxe Public Website</a>
                        </li>
                    </ul>
                </div>
                <div class="row">
                    <div class="col cell2of2">
                        <p><strong>Full width</strong></p>
                        <p>Full width paragraph.</p>
                    </div>
                </div>-->
            </div>
        </div>
    </div>
    {{template "footer" .}}
</body>
</html>
{{end}}
