{{define "index"}}
<!DOCTYPE html>
<html>
{{template "head" .}}
<body class="container" id="{{ .Page.Id}}">
    {{template "navigation" .}}
    <div id="content">
        <div class="wrap home">
            <div class="row">
                <div class="col cell3of4">
                    <h1><strong>Welcome</strong> – th3-z.xyz</h1>
                    <p>
                        Home to the_z (th3-z)
                    </p><p>
                        I've built this website to stand as a compendium of my public works. Much of the
                        software projects I've written should be available or linked here. Any services that I run are
                        detailed.
                    </p><p>
                    Most of my software is available on my <a href="https://git.th3-z.xyz/th3-z">Gitea</a> server or <a href="https://github.com/th3-z">GitHub</a>. I can
                        be contacted via <script language="JavaScript">
                            // the_z (at) znel (period) org -- I'm hoping bots can't scrape this
                            const d = "the_z";
                            const e = "znel.org";
                            const f = d + "@" + e;
                            document.write("<a href='" + "mail" + "to:" + f + "'>email</a>");
                        </script><noscript> email [the_z (at) znel (period) org]</noscript> or on Matrix (@th3-z:matrix.org).
                    </p>
                    <p>
                        - th3-z
                    </p>
                </div>
            </div>
        </div>
    </div>
    {{template "footer" .}}
</body>
</html>
{{end}}
