{{define "navigation"}}
<header>
    <div style="height: 3.83em; background: linear-gradient(rgba(0,0,0,0), rgb(33, 33, 33) 100%, rgb(33, 33, 33))">
        <a href="/"><img class="header-img" src="/images/header.png" alt="header image"></a>
        <form class="login-form">
            {{if not .Page.Session.UserId}}
            <input type="text" name="username" id="username" placeholder="Username"/>
            <input type="password" name="password" id="password" placeholder="Password"/>
            <button onclick="signin(); return false;">
                Sign in <i class="fas fa-sign-in-alt"></i>
            </button>
            {{else}}
            <button onclick="signout(); return false;">
                Sign out <i class="fas fa-sign-out-alt"></i>
            </button>
            {{end}}
        </form>
    </div>
    
    <nav>
        <label for="show-menu" class="show-menu">Show Menu</label>
        <input type="checkbox" id="show-menu"/>
        <ul>
            <li class="{{if eq .Page.SelectedTab 0}}active{{end}}">
                <a href="/" >Home</a>
            </li>
            <li class="{{if eq .Page.SelectedTab 1}}active{{end}}">
                <a href="/software" >Software</a>
            </li>
            <li class="{{if eq .Page.SelectedTab 2}}active{{end}}">
                <a href="/servers" >Servers</a>
            </li>
            <li class="{{if eq .Page.SelectedTab 8}}active{{end}}">
                <a href="/gallery" >Gallery</a>
            </li>
            <li class="{{if eq .Page.SelectedTab 5}}active{{end}}">
                <a href="/articles" >Articles</a>
            </li>
            <!--<li class="{{if eq .Page.SelectedTab 4}}active{{end}}">
                <a href="/anime" >Anime List</a>
            </li>-->
            
            <li style="float: right">
                <a href="https://git.th3-z.xyz/th3-z" ><i class="fab fa-git"></i></a>
            </li>
            <li class="{{if eq .Page.SelectedTab 6}}active{{end}}" style="float: right">
                <a href="/live" ><i class="fas fa-desktop"></i></a>
            </li>
            <li class="{{if eq .Page.SelectedTab 7}}active{{end}}" style="float: right">
                <a href="/pastes" ><i class="fas fa-paste"></i></a>
            </li>

        </ul>
    </nav>
</header>
{{end}}
