{{define "navigation"}}
<header>
    <a class="site-title" href="/"><img class="header-img" src="/images/header.png" alt="header image"></a>
    <nav>
        <label for="show-menu" class="show-menu">Show Menu</label>
        <input type="checkbox" id="show-menu"/>
        <ul>
            <li class="{{if eq .Page.SelectedTab 0}}active{{end}}">
                <a href="/" >Home</a>
            </li>
            <li class="{{if eq .Page.SelectedTab 1}}active{{end}}">
                <a href="/projects" >Projects</a>
            </li>
            <li class="{{if eq .Page.SelectedTab 2}}active{{end}}">
                <a href="/servers" >Servers</a>
            </li>
            <!-- <li class="{{if eq .Page.SelectedTab 3}}active{{end}}">
                <a href="/articles" >Articles</a>
            </li> -->
        </ul>
    </nav>
</header>
{{end}}
