{{define "navigation"}}
<header>
    <a class="site-title" href="/"><img class="header-img" src="/images/header.png" alt="header image"></a>
    <nav>
        <label for="show-menu" class="show-menu">Show Menu</label>
        <input type="checkbox" id="show-menu"/>
        <ul>
            <li class="{{if eq .Page.SelectedTab 0}}active{{end}}">
                <a href="/" >Home</a>
            </li>
            <li class="{{if eq .Page.SelectedTab 1}}active{{end}}">
                <a href="/projects" >Projects</a>
            </li>
            <li class="{{if eq .Page.SelectedTab 2}}active{{end}}">
                <a href="/servers" >Servers</a>
            </li>

            <!-- <li class="{{if eq .Page.SelectedTab 5}}active{{end}}">
                <a href="/articles" >Articles</a>
            </li> -->

            <!--<li class="{{if eq .Page.SelectedTab 4}}active{{end}}">
                <a href="/anime" >Reviews</a>
            </li>-->
            <li style="float: right">
                <a href="https://git.th3-z.xyz/th3-z" ><i class="fab fa-git"></i></a>
            </li>
            <li class="{{if eq .Page.SelectedTab 6}}active{{end}}" style="float: right">
                <a href="/live" ><i class="fas fa-desktop"></i></a>
            </li>
            <li class="{{if eq .Page.SelectedTab 7}}active{{end}}" style="float: right">
                <a href="/pastes" ><i class="fas fa-paste"></i></a>
            </li>

        </ul>
    </nav>
</header>
{{end}}
